{% extends "service/base.html" %}

{% block title %}Orders{% endblock %}

{% block content %}
  <h2>Orders</h2>
  <h5>List of our orders:</h5>
  {% if orders %}
    <div class="row">
      {% for order in orders %}
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">
                <a href="{% url 'order_details' order.id %}">
                  {{ order.car.car_model.make }} {{ order.car.car_model.model }} ({{ order.car.car_model.year }}),
                  {{ order.total_price }} €
                </a>
                <br />
                <a href="{% url 'order_details' order.id %}">ID: {{ order.id }}</a>
              </p>
              <h6 class="card-subtitle mb-2 text-muted"></h6>
              <h6 class="card-subtitle mb-2 text-muted">{{ order.car.client_name }}</h6>
              <h6 class="card-subtitle mb-2 text-muted"></h6>
              <br />
              <h6 class="card-subtitle mb-2 text-muted">{{ order.car.license_plate_number }}</h6>
              <h6 class="card-subtitle mb-2 text-muted">{{ order.car.vin_code }}</h6>
              <h6 class="card-subtitle mb-2 text-muted">
                {{ order.car.car_model.engine_type }}, {{ order.car.car_model.fuel_type }}
              </h6>
              <br />
              <h6 class="card-subtitle mb-2 text-muted"></h6>
              <h6 class="card-subtitle mb-2 text-muted">From: {{ order.date|date:"Y-m-d" }}</h6>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>There are no orders at the moment.</p>
  {% endif %}
  <div class="container">
    <ul class="pagination pagination-sm justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item"><a href="?page=1" class="page-link">First</a></li>
        <li class="page-item">
          <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
        </li>
      {% endif %}
      <li class="page-link active">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
      {% if page_obj.has_next %}
        <li class="page-item">
          <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
        </li>
        <li class="page-item">
          <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last</a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endblock content %}
